<header class="wrapper flex-space nigth">
  <a href="" class="logo">
    <i></i>
    <span>User Name </span>
  </a>
  <nav>
    <ul class="nav-list">
      <li class="active">
        <a class="active">
          Github
          <span class="nav-indicator"></span>
        </a>
      </li>
      <li><a>Portafolio</a></li>
      <li><a>email</a></li>
      <li><a>linked</a></li>
      <li><a>Blog</a></li>
    </ul>
  </nav>
  <button><span>search </span></button>
</header>
